.translation {
    padding: 8% 10% 1% 10%;

h1 {
    font-size: 45px;
    font-weight: 200;
    @include gradient1;
    margin-top: 0;
}
p {
    font-size: 23px;
    font-weight: 300;
    color: $color1;
}
&__container {
    display: grid;
    grid-template: repeat(4,1fr)/repeat(4,1fr);
    gap: 2%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
&__1 {
    grid-area: 1/1/3/3;
}
&__2 {
    grid-area: 1/3/3/5;
}
&__button {
    @extend %button3;
    p{
       font-weight: 500;
    }
}
&__text {
    p{
       color: $color3;
    }  
}
&__buttonbase {
    display: flex;
}
@media screen and (max-width: 1000px) {
    p {
        font-size: 20px;
    }
    h1{
        font-size: 35px;
    }
    .translation__2{
        display: none;
    }
    .translation__container{
        gap: 1%;
    }
    .translation__1{
        grid-area: 1/1/3/5;
    }
}
@media screen and (max-width: 680px) {
    .translation__container{
        display: grid;
        grid-template: repeat(6,1fr)/repeat(2,1fr);
    }
    .translation__1{
        grid-area: 1/1/3/3;
    }
    .translation__button {
        p{
            font-size: 17px;
        }
    }
}
}